
body {
  width: 100%;
  background-color: grey;

  header {
    font-family: Arial;
    height: auto;
    background-color: #3c3c3c;
    color: #777777;

    .mini-nav {
      min-height: 30px;
      margin-bottom: 0px;
      border-radius: 0;
      font-size: 12px;

      li {
        padding: 5px 10px;

        a {
          padding: 0;
        }
      }
    }

    .navbar-default {
      background-color: #ffffff;
      margin-bottom: 0px;
      border-radius: 0;
      font-weight: bold;


      .nav-container {
        height: 50px;


        .navbar-brand {
          padding: 0;

        }
      }
    }

  }

  .home-block {
    margin: 0px;
  }

  .html-block {
    background-color: #1a2327;

    .best-html-row {
      margin: auto;

      display: table;

      .best-html {
        height: 200px;
        text-align: center;
        font-family: Arial;

        display: table-cell;
        vertical-align: middle;

        h2 {
          font-weight: bold;
          padding: 10px;
          margin-bottom: 20px;
          color: #ffffff;
        }

        p {
          font-weight: lighter;
          color: #9d9d9d;
        }
      }
    }
  }
//BLOCK-1
  .block-1-row{
    background-color: #ffffff;

    .icon-border {
      padding: 100px 15px;
      .block-1-media {
        text-decoration: none;

        h4, p {
          color: #9d9d9d;
        }

        .btn-icon {
          width: 80px;
          height: 80px;
          border-radius: 40px;
          border: 1px solid #93dfda;
          background-color: #ffffff;
          color: #93dfda;
        }
      }
    }
  }

  //BLOCK-2

  .block-2-row{
    background-color: #3c464c;

    .skill-block {

      h2{
        margin: 100px 10px 30px 10px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
      }
      p{
        margin: 30px 10px;
        color: #9d9d9d;
      }

      .skillbar {
        margin: 0px 10px 30px 10px;
        position:relative;
        display:block;
        width:100%;
        background:#293236;
        height:35px;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -webkit-transition:0.4s linear;
        -moz-transition:0.4s linear;
        -o-transition:0.4s linear;
        transition:0.4s linear;
        -webkit-transition-property:width,background-color;
        -moz-transition-property:width, background-color;
        -o-transition-property:width, background-color;
        transition-property:width, background-color;
      }

      .skillbar-title {
        position:absolute;
        top:0;
        left:0;
        width:140px;
        font-weight:bold;
        font-size:13px;
        color:#ffffff;
        background:#6adcfa;
        -webkit-border-top-left-radius:3px;
        -webkit-border-bottom-left-radius:4px;
        -moz-border-radius-topleft:3px;
        -moz-border-radius-bottomleft:3px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
      }

      .skillbar-title span {
        display:block;
        background:rgba(0, 0, 0, 0.1);
        padding:0 20px;
        height:35px;
        line-height:35px;
        -webkit-border-top-left-radius:3px;
        -webkit-border-bottom-left-radius:3px;
        -moz-border-radius-topleft:3px;
        -moz-border-radius-bottomleft:3px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
      }

      .skillbar-bar {
        height:35px;
        width:0px;
        background:#6adcfa;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
      }

      .skill-bar-percent {
        position:absolute;
        right:10px;
        top:0;
        font-size:11px;
        height:35px;
        line-height:35px;
        color:#ffffff;
      }

    }
  }

  ///BLOCK-2

  //BLOCK-3
  .block-3-row{
    background-color: #ffffff;

    .tab-image {
      max-width: 100%;
    }


  }
  ///BLOCK-3

  footer {
    height: 80px;
    background-color: #131718;
    font-family: Arial;

    color: #525859;


    .footer-row{
      margin: 0px;
      padding: 0px;

      .footer-block-left{

          a{
            text-decoration: none;
          }
      }

      .footer-block-right{
        display: table;

        a{
          float: right;
          text-decoration: none;
        }
      }
    }
  }
}